body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}
#root{
    margin:0 auto;
  text-align: center;
  padding:2px;
}
#chartImg{
    position: absolute;
    top: 0;
    right:0;
    width: 85%;
   
}
.main{
    max-width:100%;
    max-height: 100%;

    &_filterChart{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 15%;
        height: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: rgba(138, 138, 161, 0.55) 50px 30px 60px 80px inset, 
        rgba(67, 187, 107, 0.4) 60px 18px 36px 80px inset,
        rgba(18, 18, 134, 0.55) 60px 18px 36px 500px inset,
        rgba(81, 220, 26, 0.55) 60px 18px 36px 500px inset;
        
    }
    &_changeBLEbtn{
        margin-top: 2vh;
        box-shadow: rgba(204, 143, 12, 0.55) 50px 30px 60px 80px inset, 
        rgba(41, 111, 68, 0.15) 60px 18px 36px 80px inset,
        rgba(39, 198, 65, 0.15) 60px 18px 36px 500px inset;
        width: 65%;
        height: 5vh;
    }
}

.tableElms{

    margin: 5vh auto;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    & label{
        text-align: start;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;

    }

&_selectChangeChartData{
    width: 50%;
}
}
